body
{
    background-color: gray;
    font-family: sans-serif;
    color:black;
}

*
{
    color:black;
}

p 
{
    font-family: sans-serif;
}

div 
{
    background-color: #DDD;
    border-radius:5px;
}

.container-jumbotron
{
    background-color: transparent;
    position: relative;
}

.overlay
{
    background-color: #eee;
    border: 1px solid black;
    display:inline;
    position: absolute;
    font-weight: 10em;
/*
    right: 150px;
    height: 150px;
    width: 200px;
    padding: 25px;
*/
}

.banner
{
/*    position: relative;*/
}

.jumbotron
{
    border-radius: 15px;
}

.leader
{
    background-color: transparent;
}

.headline
{
    white-space: pre;
}

h3.headline
{
    margin-top: 10px;
}

ul
{
    list-style-type: none;
}

.row
{
    background-color: transparent;
}

.container
{
    background-color: transparent;
    margin: 0px;
    padding: 30px;
}

.bubble
{
    border-radius: 10px;
    padding: 20px;
}

a
{
    color: inherit;
    text-decoration: underline;
}

a:visited
{
    color:#333;
}

.footer
{
    margin: 50px;
}